In [1]:
d0 = {
    "Wilkne Maia": 40,
    "Lindeana Maia": 37,
    "Maria Rita": 19,
}

print(d0)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [2]:
d1 = {
    "sala1": {
        "Wilkne Maia": 40,
        "Lindeana Maia": 37,
        "Maria Rita": 19,
    },
    "sala2": {
        "John Vitor": 16,
        "Mariane Fernandes": 10,
    }
}

print(d1)

{'sala1': {'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}, 'sala2': {'John Vitor': 16, 'Mariane Fernandes': 10}}

In [4]:
d2 = dict(d1.items())
print(d2)

{'sala1': {'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}, 'sala2': {'John Vitor': 16, 'Mariane Fernandes': 10}}

In [5]:
d3 = dict(
    Wilkne_Maia =  40,
    Lindeana_Maia = 37,
    Maria_Rita = 19
)
print(d3)

{'Wilkne_Maia': 40, 'Lindeana_Maia': 37, 'Maria_Rita': 19}

In [7]:
d4 = dict(
    sala1 = dict(WilkneMaia = 40,LindeanaMaia = 37, MariaRita = 19),
    sala2 = dict(JohnVitor = 16, MarianeFernandes = 10)
)
print(d4)

{'sala1': {'WilkneMaia': 40, 'LindeanaMaia': 37, 'MariaRita': 19}, 'sala2': {'JohnVitor': 16, 'MarianeFernandes': 10}}

In [8]:
d5 = dict((("Wilkne Maia", 40),("Lindeana Maia", 37),("Maria Rita", 19)))
print(d5)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [1]:
d6 = dict(
    sala1 = dict((("Wilkne Maia", 40),("Lindeana Maia", 37), ("Maria Rita", 19))),
    sala2 = dict((("John Vitor", 16),("Lindeana Maia", 37), ("Mariane Fernandes", 10))),
)
print(d6)

{'sala1': {'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}, 'sala2': {'John Vitor': 16, 'Lindeana Maia': 37, 'Mariane Fernandes': 10}}

In [2]:
d7 = {key: value for key, value in(("Wilkne Maia", 40),("Lindeana Maia", 37), ("Maria Rita", 19))}
print(d7)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [4]:
d8 = {
        "sala1": {
            ("Wilkne Maia", 40),("Lindeana Maia", 37), ("Maria Rita", 19)
        },
        "sala2": {
            ("John Vitor", 16),("Lindeana Maia", 37), ("Mariane Fernandes", 10)
        },
    }

print(d8)

{'sala1': {('Wilkne Maia', 40), ('Lindeana Maia', 37), ('Maria Rita', 19)}, 'sala2': {('Mariane Fernandes', 10), ('Lindeana Maia', 37), ('John Vitor', 16)}}

In [6]:
d9 = dict(zip(("Wilkne Maia", "Lindeana Maia", "Maria Rita"), (40, 37, 19)))
print(d9)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [7]:
d10 = dict(
        zip(
            ("sala1", "sala2"),
            (
                dict(zip(("Wilkne Maia", "Lindeana Maia", "Maria Rita"), (40, 37, 19))),
                dict(zip(("John Vitor", "Lindeana Maia", "Mariane Fernandes"), (16, 37, 10)))
            )
        )
    )

print(d10)

{'sala1': {'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}, 'sala2': {'John Vitor': 16, 'Lindeana Maia': 37, 'Mariane Fernandes': 10}}

In [9]:
d11 = dict(map( lambda k, v: (k, v), ("Wilkne Maia", "Lindeana Maia", "Maria Rita"), (40, 37, 19)))
print(d11)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [12]:
exec("d12 = dict(Wilkne=40, Lindeana=37, Maria=19)", locals())

In [15]:
d14 = eval("""{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}""")
print(d14)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [16]:
from ast import literal_eval

d15 = literal_eval("""{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}""")
print(d15)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}

In [17]:
import json

d16 = json.loads(r"""{"Wilkne Maia": 40, "Lindeana Maia": 37, "Maria Rita": 19}""")
print(d16)

{'Wilkne Maia': 40, 'Lindeana Maia': 37, 'Maria Rita': 19}