In [2]:
import pandas as pd
from PrettyColorPrinter import add_printer

In [30]:
l0 = ['Wilkne', 'Lindeana', 'Maria Rita', 'John Vitor', 'Mariane']

# l0.sort(key=lambda x: x.split()[-1].lower())
l0.sort(key=lambda  x: x[-1])
print(l0)

['Lindeana', 'Maria Rita', 'Wilkne', 'Mariane', 'John Vitor']

In [ ]:
l1 = ['Wilkne', 'Lindeana', 'Maria Rita', 'John Vitor', 'Mariane']

In [24]:
df = pd.read_csv('https://github.com/pandas-dev/pandas/raw/main/doc/data/titanic.csv')
add_printer(1)
df.head()

index       █   PassengerId  █   Survived  █   Pclass  █                                                  Name  █      Sex  █    Age  █   SibSp  █   Parch  █             Ticket  █      Fare  █   Cabin  █   Embarked  █
 0          █   1            █   0         █   3       █   Braund, Mr. Owen Harris                              █   male    █   22.0  █   1      █   0      █   A/5 21171         █   7.25     █   nan    █   S         █
 1          █   2            █   1         █   1       █   Cumings, Mrs. John Bradley (Florence Briggs Thayer)  █   female  █   38.0  █   1      █   0      █   PC 17599          █   71.2833  █   C85    █   C         █
 2          █   3            █   1         █   3       █   Heikkinen, Miss. Laina                               █   female  █   26.0  █   0      █   0      █   STON/O2. 3101282  █   7.925    █   nan    █   S         █
 3          █   4            █   1         █   1       █   Futrelle, Mrs. Jacques Heath (Lily May Peel)         █   female  █   35.0  █   1      █   0      █   113803            █   53.1     █   C123   █   S         █
 4          █   5            █   0         █   3       █   Allen, Mr. William Henry                             █   male    █   35.0  █   0      █   0      █   373450            █   8.05     █   nan    █   S         █
index           █   rows  █   columns  █
 DataFrame      █   5     █   12       █

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [25]:
l1 = df.apply(lambda x:str(x['Name']) + ' - ' + str(x['Sex']), axis=1)
l1.head()

index       █                                                              0  █
 0          █   Braund, Mr. Owen Harris - male                                █
 1          █   Cumings, Mrs. John Bradley (Florence Briggs Thayer) - female  █
 2          █   Heikkinen, Miss. Laina - female                               █
 3          █   Futrelle, Mrs. Jacques Heath (Lily May Peel) - female         █
 4          █   Allen, Mr. William Henry - male                               █
index        █   rows  █
 Series      █   5     █